.myNav {
    display:block;
    height: 50px;
    line-height: 50px;
    padding-bottom: 1em;
    background-color: #333;
}
.myNav ul {
    list-style: none;
    padding:12;
    margin: 0;
}

.myNav li {
    float: left;
}

.myNav li a {
    display: inline-block;
    text-align: center;
    padding: 12px 20px;
    color: white;
    font-size: 2em;
    font-family: fantasy;
}

.myNav li a.active {
    background-color: hsl(323, 85%, 54%);
}

h1{
    font-size: 50px;
    text-align: center;
    font-family:fantasy;

}
h2 {
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.ingredients {
    font-size: 1.5em;
}
